@import 'palette';

.top-header{
    background-color: $primary-color;
    color: white;
    font-size: .7rem;
    span{
        margin-left: 1rem;
        padding: 5px 0;
    }
}

header{
    width: 100%;
    color: $primary-color;
    font-size: 1rem;
    font-weight: 500;
    
    .container{
        display: flex;
        justify-content: space-between;
        
        .logo{
            padding: 0.5rem 0;
            width: 80px;
        }

        ul{
            display: flex;
            align-items: center;
            height: 100%;

            li{
                padding: 0 0.8rem;
                height: 100%;
                display: flex;
                align-items: center;
                border-bottom: 6px solid #ffffff00;
                border-top: 6px solid #ffffff00;
                font-size: .8rem;
                cursor: pointer;
                &:hover{
                    border-bottom: 6px solid $primary-color;
                }

                &:hover a{
                    color: $primary-color;
                }
            }

        }
    }
}